{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

        <div id="primary" class="boxed-layout-header page-header header-small" data-parallax="active" ><div class="container"><div class="row"><div class="col-md-10 col-md-offset-1 text-center"><h1 class="hestia-title">Exercice</h1></div></div></div><div class="header-filter header-filter-gradient"></div></div>
        <div class="main  main-raised ">
            <div class="hestia-blogs" data-layout="sidebar-right">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 blog-posts-wrap">
                            <div class="flex-row"><article
                                        id="post-1"
                                        class="card card-blog card-plain post-1 post type-post status-publish format-standard hentry category-uncategorized"><div class="row "><div class= "col-sm-12"><h6 class="category text-info">  Uncategorized </h6><h2 class="card-title entry-title">Hello world!</h2><div class="card-description entry-summary "><p>Welcome </p>
                                            </div><div class="posted-by vcard author">By<b class="author-name fn">stephen</b>, <time class="entry-date published" datetime="2020-07-26T12:20:11+00:00" content="2020-07-26">3 hours</time> ago </div></div></div></article></div>				</div>
                        <div class="col-md-3 blog-sidebar-wrapper col-md-offset-1">
                            <aside id="secondary" class="blog-sidebar" role="complementary">
                                <div id="search-2" class="widget widget_search"><form role="search" method="get" class="search-form" action="http://127.0.0.1:81/wordpress/">
                                        <label>
                                            <span class="screen-reader-text">Search for:</span>
                                            <input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" />
                                        </label>
                                        <input type="submit" class="search-submit" value="Search" />
                                    </form></div>		<div id="recent-posts-2" class="widget widget_recent_entries">		<h5>Recent Posts</h5>		<ul>
                                        <li>
                                            Hello world!
                                        </li>
                                    </ul>
                                </div><div id="recent-comments-2" class="widget widget_recent_comments"><h5>Recent Comments</h5><ul id="recentcomments"><li class="recentcomments"><span class="comment-author-link"><a href='https://wordpress.org/' rel='external nofollow ugc' class='url'>A WordPress Commenter</a></span> on <a href="http://127.0.0.1:81/wordpress/2020/07/26/hello-world/#comment-1">Hello world!</a></li></ul></div><div id="archives-2" class="widget widget_archive"><h5>Archives</h5>		<ul>
                                        <li>July 2020</li>
                                    </ul>
                                </div><div id="categories-2" class="widget widget_categories"><h5>Categories</h5>		<ul>
                                        <li class="cat-item cat-item-1">Uncategorized
                                        </li>
                                    </ul>
                                </div><div id="meta-2" class="widget widget_meta"><h5>Meta</h5>			<ul>
                                        <li>Site Admin</li>			<li>Log out</li>
                                        <li>Entries feed</li>
                                        <li>Comments feed</li>
                                        <li>WordPress.org</li>			</ul>
                                </div>					</aside><!-- .sidebar .widget-area -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
