{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
   <p>Hello {{ name }} </p>
   <p>Age {{ age }} ans</p>
   <p>Adresse {{ adresse }} </p>
{% endblock %}
