{% block body %}
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <p>HELLO</p>
            </div>
        </div>
    </section>

    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner text-center rounded">
                        <p>BONJOUR</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}