{% extends 'base.html.twig' %}

{% block body %}
    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="product-item-description d-flex mr-auto">

                    <div class="bg-faded p-5 rounded">
                        <div class="container">
                            {{ form_start(formA) }}
                            <div class="form-horizontal">
                                {{ form_widget(formA) }}

                                <p><button class="btn btn-success"> Creer </button></p>
                            </div>

                            {{ form_end(formA) }}
                            <p><a href="{{ path('blog_list') }}"> Annuler </a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}