<footer class="footer footer-black footer-big">
    <div class="container">
        <div class="hestia-bottom-footer-content"><ul class="footer-menu pull-left"><li class="page_item page-item-2"><a href="http://127.0.0.1:81/wordpress/sample-page/">Sample Page</a></li>
            </ul>
            <div class="copyright pull-right">
                Hestia | Developed by <a href="https://themeisle.com" rel="nofollow">ThemeIsle</a>			</div>
        </div>			</div>
</footer>
